alias g='git'
alias gc='git commit'
alias gs='git s'
alias gp='git push'
alias gb='gh browse'
alias gpf='git push --force-with-lease'
alias gdc='git diff --cached'
alias ga='git add'
alias gap='git add -p'
alias gca='git commit --amend'
alias gcm='git commit -m'
alias gcane='git commit --amend --no-edit'
alias gdo='git diff origin'
alias gcae='git commit --allow-empty'

alias j='z'

# this is aliasing for a fancy git log I don't need, but need the coreutils ls version, prefixed with g
unalias gls >/dev/null 2>/dev/null
unalias gs >/dev/null 2>/dev/null # don't want git stash

if command -v gls >/dev/null 2>&1; then
	alias l='gls -la -I ".DS_Store" --color=auto'
else
	alias l='ls -la --ignore=".DS_Store" --color=auto'
fi
alias ll='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lll='ls -l | less'

alias e='$EDITOR'
if [[ "$OSTYPE" == "darwin"* ]]; then
  alias o='open'
else
  o() { nohup nautilus "$@" >/dev/null 2>&1 &! }
fi

alias zshrc='vim ~/.zshrc'
alias vimrc='vim ~/.vimrc'
alias reload='source ~/.zshrc'

alias exports='vim ~/.dotfiles/shell/.exports'
alias aliases='vim ~/.dotfiles/shell/.aliases'

# quicklook from command line :)
alias ql='qlmanage -p >/dev/null 2>/dev/null'

alias h='history'

alias notify='terminal-notifier -message'
alias noti='notify'

# alias mkenv='python -m venv venv --upgrade-deps --prompt . && source venv/bin/activate'
alias mkenv='uv venv --quiet && source .venv/bin/activate'

alias ard='arduino-cli'

# directory shortcuts
alias dots='cd ~/.dotfiles'
alias desk='cd ~/Desktop'
alias digi='cd ~/Code/digi'
alias tmp='cd ~/Code/tmp'
alias nh='cd ~/Code/nh'
alias pkb='cd ~/PKB'
