alias g='git'
alias gc='git commit'
alias gs='git s'
alias gp='git push'
alias gb='gh browse'
alias gpf='git push --force'
alias gdc='git diff --cached'
alias ga='git add'
alias gap='git add -p'
alias gca='git commit --amend'
alias gcm='git commit -m'
alias gcane='git commit --amend --no-edit'
alias gdo='git diff origin'
alias gcae='git commit --allow-empty'

alias j='z'

# this is aliasing for a fancy git log I don't need, but need the core utills ls version, prefixed with g
unalias gls >/dev/null 2>/dev/null
unalias gs >/dev/null 2>/dev/null # don't want git stash

# alias l='ls -la'
alias l='gls -la -I ".DS_Store" --color=auto'
alias ll='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lll='ls -l | less'

alias cl='clear'
alias c='clear'

alias e='$EDITOR'
alias s='sublime'
alias o='open'

alias zshrc='vim ~/.zshrc'
alias vimrc='vim ~/.vimrc'
alias ohmyzsh='$EDITOR ~/.oh-my-zsh'
alias reload='source ~/.zshrc'

alias paths='vim ~/.dotfiles/shell/.path'
alias exports='vim ~/.dotfiles/shell/.exports'
alias aliases='vim ~/.dotfiles/shell/.aliases'

# quicklook from command line :)
alias ql='qlmanage -p >/dev/null 2>/dev/null'

alias lvim='vim -c "normal '\''0"'

alias unique-lines='grep -F -x -v -f'

# alias django='python manage.py' # commenting temporarily, so that it doesn't override `django-shortcuts`
alias dj='django'

alias h='history'

alias ho='heroku open'

# adding some sugar to git with hub
# eval '$(hub alias -s)'

alias notify='terminal-notifier -message'
alias noti='notify'
