alias g='git'
alias gc='git commit'
alias gs='git s'
alias gp='git push'
alias gb='gh browse'
alias gpf='git push --force'
alias gdc='git diff --cached'
alias ga='git add'
alias gap='git add -p'
alias gca='git commit --amend'
alias gcm='git commit -m'
alias gcane='git commit --amend --no-edit'
alias gdo='git diff origin'
alias gcae='git commit --allow-empty'

alias j='z'

# this is aliasing for a fancy git log I don't need, but need the core utills ls version, prefixed with g
unalias gls >/dev/null 2>/dev/null
unalias gs >/dev/null 2>/dev/null # don't want git stash

# alias l='ls -la'
alias l='gls -la -I ".DS_Store" --color=auto'
alias ll='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lll='ls -l | less'

alias cl='clear'
alias c='clear'

alias e='$EDITOR'
alias s='sublime'
alias o='open'

alias zshrc='vim ~/.zshrc'
alias vimrc='vim ~/.vimrc'
alias ohmyzsh='$EDITOR ~/.oh-my-zsh'
alias reload='source ~/.zshrc'

alias paths='vim ~/.dotfiles/shell/.path'
alias exports='vim ~/.dotfiles/shell/.exports'
alias aliases='vim ~/.dotfiles/shell/.aliases'

# quicklook from command line :)
alias ql='qlmanage -p >/dev/null 2>/dev/null'

alias lvim='vim -c "normal '\''0"'

alias unique-lines='grep -F -x -v -f'

# alias django='python manage.py' # commenting temporarily, so that it doesn't override `django-shortcuts`
alias dj='django'

alias h='history'

alias ho='heroku open'

# adding some sugar to git with hub
# eval '$(hub alias -s)'

alias notify='terminal-notifier -message'
alias noti='notify'

# experimental: g stands for group
alias assh='pssh -i -H "sievpm mms orelhudo-prod"'

alias startwiki="screen -d -m bash -c 'cd ~/Wiki/pwiki/ && tiddlywiki --listen'"

alias openbb="/Applications/OpenBB\ Terminal/OpenBB\ Terminal ; exit;"

# lookback terminal MVP
alias lookback-score="todoist cl -f today | grep "@pts:" | rev | cut -d ':' -f 1 | rev | paste -sd+ - | bc"
alias lookback-total="todoist cl -f today | wc -l | rev | cut -d ' ' -f 1 | rev"
# alias lookback-today-header="echo \"    Today, you've done $(lookback-total) tasks @ $(lookback-score) points. \n\""
alias lookback-today-tasks="todoist cl -f today | grep -v 'pts:0$' | cut -d ' ' -f5- | sed 's/@\:[0-9]{1}//' | xargs -L1 echo '      ✅' | tac"
# alias lookback-today="echo && lookback-today-header && lookback-today-tasks && echo"
alias lookback="/Users/nuno/Code/lab/lookback/venv/bin/python /Users/nuno/Code/lab/lookback/_cli/main.py"

alias mkenv='python -m venv venv --prompt . && source venv/bin/activate'
