export EDITOR='vim'

export LC_ALL="en_US.UTF-8"
export LANG="en_US.UTF-8"

# so that colors still work when piping to less for example
export CLICOLOR_FORCE=1

export TERM=xterm-256color

# so that lag changing to vi mode is just 0.1 instead of the default 0.4 seconds
export KEYTIMEOUT=1

# install casks to sensible and predictable locations
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

export ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE="fg=238"
