[include]
	path = .gitconfig.local

[alias]
	s = status -s
	co = checkout
	b = branch

; so that git status has no pager
[pager]
	status = false

[core]
	autocrlf = input

[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
