alias g="git"

alias ll="ls -l"
alias la="ls -a"
alias lla="ls -la"
alias lll="ls -l | less"

alias zshrc="vim ~/.zshrc"
alias vimrc="vim ~/.vimrc"
alias ohmyzsh="subl ~/.oh-my-zsh"
alias reload="source ~/.zshrc"
alias paths="vim ~/.dotfiles/.path"

# adding some sugar to git with hub
eval "$(hub alias -s)"
