alias g='git'
alias gc='git commit'
alias gp='git push'
alias gpf='git push --force'
alias gap='git add -p'
alias gca='git commit --amend'
alias gcane='git commit --amend --no-edit'

# this is aliasing for a fancy git log I don't need, but need the core utills ls version, prefixed with g
unalias gls >/dev/null 2>/dev/null
unalias gs >/dev/null 2>/dev/null # don't want git stash

# alias l='ls -la'
alias l='gls -la -I ".DS_Store" --color=auto' # using brew coreutils, prefix with 'g'
alias ll='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lll='ls -l | less'

alias cl='clear'

# got used to autojump before fasd
alias j='fasd_cd -d'

alias e='sublime'
alias o='open'

# do not use prezto default's rm confirmation
# and also make sure not to give an error when reloading .zshrc
# unalias rm mv cp >/dev/null 2>/dev/null

alias zshrc='vim ~/.zshrc'
alias vimrc='vim ~/.vimrc'
alias ohmyzsh='subl ~/.oh-my-zsh'
alias reload='source ~/.zshrc'
alias paths='vim ~/.dotfiles/.path'

# quicklook from command line :)
alias ql='qlmanage -p >/dev/null 2>/dev/null'

# alias bubu='brew update && brew upgrade --all && brew cleanup'
alias bubu='brew update; and brew upgrade --all; and brew cleanup'
alias bci='brew cask install'

alias lvim='vim -c "normal '\''0"'

alias unique-lines='grep -F -x -v -f'

alias tm='todotxt-machine'

alias t='todo.sh'

# so that scrolling works in tmux properly
alias irssi='TERM=screen-256color irssi'

alias thead='brew switch tesseract HEAD'
alias t3='brew switch tesseract 3.02.02_3'

# adding some sugar to git with hub
# eval '$(hub alias -s)'
