[include]
	path = .gitconfig_user

[alias]
	s = status -s
	st = status
	# l = log --pretty=oneline --abbrev-commit
	l = log --all --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	pom = push origin master
	co = checkout
	b = branch

[color]
	ui = true

[credential]
	helper = osxkeychain

[push]
	default = matching

[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f

[core]
	autocrlf = input
	excludesfile = /Users/Nuno/.gitignore_global
	editor = vim
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
