[storage]
engine = dropbox

[applications_to_sync]
ssh
macosx
vscode
# bartender
# calibre
# hub
# iterm2
# itsycal
# menumeters
# pycharm
# spectacle
# spotify
# sublime-text
# zsh

[applications_to_ignore]
