"*":
  core:
    disabledPackages: [
      "wrap-guide"
      "circle-ci"
      "vim-mode"
    ]
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    tabLength: 4
  "exception-reporting":
    userId: "7e9edc51-f3a3-7ea6-125b-e7f2db088d3f"
  jshint:
    validateOnlyOnSave: true
  jslint:
    hideOnNoErrors: true
  "lcov-info": {}
  "markdown-preview": {}
  "merge-conflicts": {}
  minimap:
    autoToggle: false
  "one-light-ui": {}
  pigments: {}
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
